body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.header{
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}
.header img{
    padding: 20px;
}
.card-container img{
    border-radius: 10px;
}
.card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}
.card-container h2,
.card-container time{
    display: flex;
    padding-left: 40px;
    text-align: flex-start;
    max-width: 450px; 
    flex-wrap: wrap;
    font-size: medium;
}
@media (max-width:750px){
.card-container h2,
.card-container time{
    display: flex;
    padding: 0px;
    text-align: flex-start;
    font-size: medium;
}
}